/* Variables */
/*Imports separados de manera ordenada*/
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0; }

body {
  background-color: #b6ffff; }

header {
  background-color: #34a0ff;
  width: 100%;
  clear: both;
  display: table; }
  header h1 {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 10px 35px;
    font-weight: bold;
    color: black;
    font-size: 5em;
    transition: all 2s ease; }
    header h1:hover {
      transform: skew(10deg);
      border-radius: 0%; }
  header .menu {
    margin: auto;
    padding: 0%;
    width: 90%;
    max-width: 1000px;
    font-family: 'Roboto Flex', sans-serif; }
    header .menu.menu ul li {
      text-decoration: none;
      color: black;
      list-style: none;
      margin-left: 25px;
      padding: 20px 0px;
      font-weight: bold;
      float: right;
      display: block; }
    header .menu.menu li:hover {
      background: #00ffff; }
      header .menu.menu li:hover.menu li {
        display: inline-block;
        text-align: center; }

/*Le agregue transciciones,transforrmaciones al logo principal de la pagina, se aplico en todos los archivos css.*/
.contenedorp {
  display: grid;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  grid-template-areas: "letras-1" "letras-2" "letras-3" "letras-4" "letras-5" "img-1" "img-2" "img-3" "img-4" "img-5";
  /*Se usaron Variables */ }
  .contenedorp #letras {
    border: 3px #001eff solid;
    transition: all 2s ease;
    height: auto;
    /*Se usaron Variables */ }
    .contenedorp #letras:hover {
      background-color: #34a0ff;
      transform: skew(10deg);
      border-radius: 0%; }
  .contenedorp .letras-1 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    width: 500px;
    height: 350px;
    background-color: #34a0ff;
    border: 3px solid black;
    grid-area: letras-1; }
  .contenedorp .img-1 {
    border: 15px solid #34a0ff;
    background: radial-gradient(white, #34a0ff, #2a3bff);
    grid-area: img-1;
    width: 600px;
    height: 380px;
    padding-left: 7px;
    padding-top: 40px;
    margin-left: 35px; }
  .contenedorp .letras-2 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 550px;
    height: 250px;
    grid-area: letras-2;
    border: 3px black solid;
    margin-top: 70px; }
  .contenedorp .img-2 {
    margin-top: 50px;
    margin-left: 30px;
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-2;
    width: 500px;
    height: 310px;
    padding-left: 10px;
    padding-top: 5px; }
  .contenedorp .letras-3 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 560px;
    height: 250px;
    grid-area: letras-3;
    border: 3px black solid;
    margin-top: 20px; }
  .contenedorp .img-3 {
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-3;
    width: 500px;
    height: 310px;
    padding-left: 5px;
    margin-left: 30px;
    padding-top: 5px; }
  .contenedorp .letras-4 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 550px;
    height: 250px;
    grid-area: letras-4;
    border: 3px black solid;
    margin-top: 20px;
    margin-left: 10px; }
  .contenedorp .img-4 {
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    height: 500px;
    grid-area: img-4;
    width: 450px;
    height: 360px;
    padding-top: 3px;
    padding-left: 10px;
    margin-left: 40px; }
  .contenedorp .letras-5 {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 20px;
    width: 500px;
    height: 250px;
    grid-area: letras-5;
    border: 3px black solid;
    margin-top: 50px;
    margin-left: 20px; }
  .contenedorp .img-5 {
    border: 20px solid #34a0ff;
    background-color: #34a0ff;
    grid-area: img-5;
    width: 500px;
    height: 300px;
    padding-left: 10px;
    margin-left: 70px;
    margin-top: 30px; }

/*Le agregue transciciones,transforrmaciones y una gradiente, a todos mis contenedores #letras para las definicioones de cada juego y consola, se aplico en todos los archivos css.*/
.descarga {
  margin-top: 30px;
  text-align: center; }

.botonhome {
  margin-left: 100px; }

footer {
  font-family: 'Roboto Flex', sans-serif;
  margin-left: 700px;
  padding-bottom: 20px;
  color: #34a0ff;
  font-weight: bold; }
  footer h5 {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 600px;
    font-weight: bold;
    font-size: 25px; }

/*Media queries donde aplico la adptabilidad para pantallas de 600px y le doy una aperiencia diferente a la pagina cuando esta en modo mobile*/
@media only screen and (max-width: 600px) {
  header {
    background-color: #00ff59;
    width: 100%;
    clear: both;
    display: table;
    /*Se usaron Variables */ }
    header .menu.menu li:hover {
      background: #ecd65e; }
  /*Se usaron Variables */
  .contenedorp {
    gap: 20px; }
    .contenedorp #img {
      width: 400px;
      height: auto;
      border: 10px #00ff59 solid;
      background-color: #00ff59; }
    .contenedorp #letras {
      width: 300px;
      height: auto;
      font-size: 22px;
      border: 3px #00ff59 solid;
      background-color: #00ff59; }
      .contenedorp #letras:hover {
        background-color: #ecd65e;
        transform: skew(10deg);
        border-radius: 0%; }
  footer {
    font-family: 'Roboto Flex', sans-serif;
    margin-left: 0px;
    padding-bottom: 20px;
    text-align: center;
    color: #009e37; }
    footer h5 {
      font-family: 'Roboto Flex', sans-serif;
      margin-left: 0px;
      text-align: center;
      color: #009e37; } }
