.contenedorp{
    display: grid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    grid-template-areas: 
    "letras-1"
    "letras-2"
    "letras-3"
    "letras-4"
    "letras-5"
    "img-1"
    "img-2"
    "img-3"
    "img-4"
    "img-5"
    
    ;

    #letras{
        border: 3px rgb(0, 30, 255) solid;
        transition: all 2s ease;
        height: auto;
        
    /*Se usaron Variables */
        &:hover{
            background-color:$azul; 
            transform: skew(10deg);
            border-radius: 0%;
        }
    
    }
    
    
    /*Se usaron Variables */
    .letras-1{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 30px;
        width: 500px;
        height: 350px;
        background-color:$azul; 
        border: 3px solid black;
        grid-area: letras-1;
        
    }
    
    
    .img-1{
       border: 15px solid rgb(52, 160, 255);
       background: radial-gradient( rgb(255, 255, 255), rgb(52, 160, 255) ,rgb(42, 59, 255) );
       grid-area: img-1;
       width: 600px;
       height: 380px;
       padding-left: 7px;
       padding-top:40px;
       margin-left: 35px;
    }
    
    
    .letras-2{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        width: 550px;
        height: 250px;
        grid-area: letras-2;
        border: 3px black solid;
        margin-top: 70px;
        
    }
    
    .img-2{
        margin-top: 50px;
        margin-left: 30px;
        border: 20px solid rgb(52, 160, 255);
       background-color:rgb(52, 160, 255); 
       grid-area: img-2;
       width: 500px;
       height: 310px;
       padding-left: 10px;
       padding-top: 5px;
        
    }
    
    
    
    .letras-3{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        width: 560px;
        height: 250px;
        grid-area: letras-3;
        border: 3px black solid;
        margin-top: 20px;
        
    }
    
    .img-3{
        border: 20px solid rgb(52, 160, 255);
        background-color:rgb(52, 160, 255); 
        grid-area: img-3;
        width: 500px;
        height: 310px;
        padding-left: 5px;
        margin-left: 30px;
        padding-top: 5px;
    
    }
    
    .letras-4{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        width: 550px;
        height: 250px;
        grid-area: letras-4;
        border: 3px black solid;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .img-4{
        border: 20px solid rgb(52, 160, 255);
        background-color:rgb(52, 160, 255); 
        height: 500px;
        grid-area: img-4;
        width: 450px;
        height: 360px;
        padding-top: 3px;
        padding-left: 10px;
        margin-left: 40px;
    }
    
    .letras-5{
        font-family: 'Roboto Flex', sans-serif;
        font-size: 20px;
        width: 500px;
        height: 250px;
        grid-area: letras-5;
        border: 3px black solid;
        margin-top: 50px;
        margin-left: 20px;
    
    }
    
    .img-5{
        border: 20px solid rgb(52, 160, 255);
        background-color:rgb(52, 160, 255); 
        grid-area: img-5;
        width: 500px;
        height: 300px;
        padding-left: 10px;
        margin-left: 70px;
        margin-top: 30px;
        
    }
    
}


/*Le agregue transciciones,transforrmaciones y una gradiente, a todos mis contenedores #letras para las definicioones de cada juego y consola, se aplico en todos los archivos css.*/


