*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    background-color: $mentafondo;
    
}

header{
    background-color: $azul;
    width: 100%;
    clear: both;
    display: table;

    h1{
        font-family: 'Anton', sans-serif;
        margin: 0;
        padding: 10px 35px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        font-size: 5em;
        transition: all 2s ease;
        
                &:hover{
                    transform: skew(10deg);
                    border-radius: 0%;
                }
        
                 }
    
      .menu{
              margin: auto;
              padding: 0%;
              width: 90%;
              max-width: 1000px; 
              font-family: 'Roboto Flex', sans-serif;
    
              &.menu ul li{
                text-decoration: none;
                color: rgb(0, 0, 0);
                list-style: none;
                margin-left: 25px;
                padding: 20px 0px;
                font-weight: bold;
                float: right;
                display: block; 
                
                    }
    
               &.menu li:hover{
                background: #00ffff;
        
                &.menu li{
                    display: inline-block;
                    text-align: center;
                   }
    
    
        }    
                
    }
       

}




/*Le agregue transciciones,transforrmaciones al logo principal de la pagina, se aplico en todos los archivos css.*/





